<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCF7rf6VXd0fDMxGI8bPx01ezg2BPvMMs</string>
	<key>GCM_SENDER_ID</key>
	<string>880540219709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.footwearAdmin</string>
	<key>PROJECT_ID</key>
	<string>production-app-623eb</string>
	<key>STORAGE_BUCKET</key>
	<string>production-app-623eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880540219709:ios:756892692d18ce0265ed54</string>
</dict>
</plist>